<?php
/**
 * The base configuration for WordPress
 */

// ** MySQL settings ** //
define('DB_NAME', '{{ wordpress_db_name }}');
define('DB_USER', '{{ wordpress_db_user }}');
define('DB_PASSWORD', '{{ wordpress_db_password }}');
define('DB_HOST', '{{ wordpress_db_host }}');
define('DB_CHARSET', 'utf8');
define('DB_COLLATE', '');

// ** Authentication Unique Keys and Salts ** //
define('AUTH_KEY',         '{{ ansible_date_time.epoch }}auth');
define('SECURE_AUTH_KEY',  '{{ ansible_date_time.epoch }}secure_auth');
define('LOGGED_IN_KEY',    '{{ ansible_date_time.epoch }}logged_in');
define('NONCE_KEY',        '{{ ansible_date_time.epoch }}nonce');
define('AUTH_SALT',        '{{ ansible_date_time.epoch }}auth_salt');
define('SECURE_AUTH_SALT', '{{ ansible_date_time.epoch }}secure_auth_salt');
define('LOGGED_IN_SALT',   '{{ ansible_date_time.epoch }}logged_in_salt');
define('NONCE_SALT',       '{{ ansible_date_time.epoch }}nonce_salt');

// ** WordPress Database Table prefix ** //
$table_prefix = 'wp_';

// ** Debugging ** //
define('WP_DEBUG', false);

/* That's all, stop editing! Happy publishing. */

/** Absolute path to the WordPress directory. */
if ( ! defined( 'ABSPATH' ) ) {
    define( 'ABSPATH', __DIR__ . '/' );
}

/** Sets up WordPress vars and included files. */
require_once ABSPATH . 'wp-settings.php';